<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classkeeper">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name=".ClassKeeperDataProvider"
            android:authorities="com.example.classkeeper.classkeeperdataprovider"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TermListView" />
        <activity android:name=".TermDetails" />
        <activity android:name=".CourseListView" />
        <activity android:name=".CourseDetails" />
        <activity android:name=".AssessmentListView" />
        <activity android:name=".AssessmentDetails" />
        <activity android:name=".AddTermView" />
        <activity android:name=".AddCourseView" />
        <activity android:name=".AddAssessmentView" />
        <activity android:name=".CourseMentorsView" />
        <activity android:name=".AddCourseMentorView" />
        <activity android:name=".CourseNotesView" />
        <activity android:name=".AddCourseNotesView" />
        <activity android:name=".NoteView" />
        <activity android:name=".MentorView"></activity>
    </application>

</manifest>